[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-watch = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"

[packages]
typer = {extras = ["all"], version = "*"}
pysimplegui = "4.28.0"

[requires]
python_version = "3.8"
